{% extends 'base.html.twig' %}
                  
{% block title %}
{{ parent() }} Erreur 404
{% endblock %}

{% block heading %}
  <section class="jumbotron text-center">
      <div class="container">
          <h1 class="display-4">Oops</h1>
          <p class="lead text-muted mb-4">
            On ne capte pas bien ici...
          </p>
          <p>
            <a href="{{ path('mobiles') }}" class="btn btn-info btn-lg">
              Revenir à l'accueil
            </a>
          </p>
      </div>
  </section>
{% endblock %}